<%= @contact.name%>様

  いつもご利用いただき誠に有難うございます。
  また、お問合せのメールを頂き誠に有難うございます。

  ===============================================

  【Tel】 ：<%= @contact.phone_number %><br>
  【Mail】：<%= @contact.email %><br>
  【お問合せ内容】<br>
  <span style="white-space: pre-wrap;"><%= @contact.message %></span>