// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-visual{
  background-color: #eaffff;
}

.main-visual{
  background-color: #eaffff;
  padding-left: 0px;
  padding-right: 0px;
}

// books/index
.thead{
  background-color: #eaffff;
}

.tbody{
  background-color: #eaffff;
}