// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sub-title{
  background-color: #bdb76b;
  font-weight: 800;
  color: #fffafa;
  padding: 3px 0;
}

.heading{
  padding: 0px 5px;
  background-color: #797979;
  color: white;
  font-weight: 800;
  border-radius: 10px;
}

.primary-content{
  display: flex;
}



// users/indexのview
.table{
  background-color: white;
  height: auto;
  width: 600px;
  padding: 20px;
}

.table-tr{
  height: auto;
  display: flex;
}

.table-td-index{
  height: auto;
  width: 20%;
}

.table-td{
  height: auto;
  width: auto;
}

