// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background-img{
  background-image: image-url("washi.jpg");
}

.main-visual{
  background-color: #ffe9a9;
}

.heading{
  padding: 0px 5px;
  background-color: black;
  color: white;
  font-weight: 800;
  border-radius: 10px;
}

.primary-content{
  display: flex;
}
.secondary-title{
  background-color: white;
  color: black;
  padding: 3px 0;
}

.content-img{
  margin: 20px;
}

.main-content{
  display: flex;
}

.main-content1{
  flex-direction: column;
}

.content-tr{
  display: flex;
}
.content-td{
  margin: 10px;
}

.tmp-table-tr {
  width: 80%;
  height: 30%;
  background-color: ivory;
}

.tmp-table-td {
  width: 30%;
  height: 100%;
  background-color: red;
}