// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sub-title{
  background-color: #bdb76b;
  font-weight: 800;
  color: #fffafa;
  padding: 3px 0;
}