<div class="border-top my-3"></div>
<div class="d-flex justify-content-center pt-2">
  <a href="#" class="mx-1 text-dark"><i class="fab fa-twitter-square fa-2x"></i></a>
  <a href="#" class="mx-5 text-dark"><i class="fab fa-instagram fa-2x"></i></a>
  <%= link_to new_contact_path, class:"mx-1 text-dark" do %>
    <i class="far fa-envelope fa-2x"></i>
  <% end %>
</div>
<p class="text-center my-3">© Copyright 2022 Bookmania All rights reserved.</p>